.welcome .slide{
    width: 100%;
}
.welcome{
    position: relative;
}
.welcome h1{
    position: absolute;
    background-color: rgba(89,76,70, 0.95);
    padding: .5em;
    margin-left: 1.525em;
    top: 50%;
    transform: translate(0%, -55%);
}

.main{
    padding-top: 6.7em;
}
.main ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #594C47;
    margin: 2em 0em;
    justify-content: space-evenly;
}
.main ul li a{
    display: inline-block;
    text-align: center;
    background-color: #F2F2F2;
    color: #315952;
    border-radius: 10px;
    border-width: .125em; 
    border-style: outset; 
    border-color: #315952;
    padding: 20px;
    width: auto;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25em;
    margin: 5px;
    transition: all 0.5s linear;
}
.main ul li a:hover{
    cursor: pointer;
}
.main ul li a:active{
    border-style: inset;
}
.main ul li{
    width: 20em;
    padding: 1em 2.5em;
    
}
.main ul li img {
    width: 20em;
}
.main ul li p {
    margin: .75em 0em 0em 0em;
}