body{
    margin: 0em;
    background-color: #6D8C87;
}
li{
    list-style-type: none;
    display: block;
}
header{
    display: flex;
    background-color: #F2F2F2;
}
header #logo {
    height: 5em;
    padding-right: 10em;
    padding-left: 2.5em;
    position:relative;
    top: 0.4em;
}
header nav ul{
    margin: 0em;
    padding: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
}
header nav ul li a{
    padding: 2.5em 1em;
    color: #ccc;
    display: inline-block;
    text-decoration: none;
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s linear;
    border-right: 1px solid rgba(255, 255, 255, .5);
}
header nav ul li a:hover{

}
header nav ul li:first-child a{
    border-left: 1px solid rgba(255, 255, 255, .5);
}

footer{
    display: flex;
    background-color: #F2F2F2;
}
footer nav ul{
    margin: 0em;
    padding: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
}
footer nav ul li p{
    padding: 2.5em 1em;
    color: #ccc;
    display: inline-block;
    text-decoration: none;
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s linear;
    border-right: 1px dotted rgba(255, 255, 255, .5);
}
#socials ul{
    display: flex;
}
