.main{
    position: relative;
}
.main h1{
    font-size: 4em;
    color: black;
}
.main .seasonal_promo{
    position: relative;
}
.main .seasonal_promo img{
    width: 100%;
    padding: 1em 0em;
}
.main .seasonal_promo .text_button{
    padding: 1em;
    position: absolute;
    top: 50%;
}
.main section{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 70%;
}
.main section div{
    padding: 5%;
}
.main section .utah img{
    width: 100%;
}
.main section .glacier img{
    width: 100%;
}
.main section .yosemite img{
    width: 100%;
}
.main section .oregon img{
    width: 100%;
}
.main section div button{
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main button#bottom {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 1em;
}
